<div class="row">
    <div class="col-xs-9" >
        <h1 style="font-variant: small-caps"><span>Trip:</span> {{trip.name}}</h1>
    </div>
    <div class="col-xs-3" data-ng-show="trip">
        <tp-profile label="'Owner'" user-id="trip.owner"></tp-profile>
        <div data-ng-if="hasPermission">
            <a ui-sref="trip.edit({noCache: true})" ui-sref-opts="{reload: true}" class="btn btn-flat btn-info"><i class="mdi-content-create"></i>&nbsp;Edit</a>
            <button data-ng-click="deleteTrip()" class="btn btn-flat btn-danger"><i class="mdi-content-clear"></i>&nbsp;Delete</button>
        </div>
    </div>
</div>
<div class="row">
    
    <div class="col-xs-4" >

        <i class="mdi-action-today icon-barmaterial-pink">&nbsp;&nbsp;{{tripDate}}</i>
    </div>
    <div class="col-xs-4" >
        <i class="mdi-action-invert-colors icon-barmaterial-pink">&nbsp;&nbsp;Car consumption: {{::trip.consumption}}&nbsp;{{::trip.getPrettyConsumptionUnits()}}&nbsp;({{::trip.fuelType}})</i>
    </div>
</div>