<div class="row">
    <div class="col-xs-9" >
        <h1 style="font-variant: small-caps"><span>Trip:</span> {{trip.name}}</h1>
    </div>
    <div class="col-xs-3" data-ng-show="trip">
        <tp-profile label="'Owner'" user-id="trip.owner"></tp-profile>
        <div data-ng-if="hasPermission">
            <button data-ng-click="editTrip()" class="btn btn-flat btn-info"><i class="mdi-content-create"></i>&nbsp;Edit</button>
            <button data-ng-click="deleteTrip()" class="btn btn-flat btn-danger"><i class="mdi-content-clear"></i>&nbsp;Delete</button>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-xs-4" >

        <i class="mdi-action-today icon-barmaterial-pink">&nbsp; {{trip.localDate.toPrettyString()}}</i>
    </div>
    <div class="col-xs-4" >
        <h5><b>Car consumption:</b> <span data-ng-bind="trip.consumption"></span>&nbsp;<span data-ng-bind="trip.getPrettyConsumptionUnits()"></span></h5>
        <h5><b>Fuel:</b> <span data-ng-bind="trip.fuelType"></span></h5>
    </div>
</div>