<div class="modal" id="tpModalChoice">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{body}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-ng-click="next(false)" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" data-ng-click="next(true)" class="btn btn-primary" >Yes</button>
            </div>
        </div>
    </div>
</div>